<h1>Profile</h1>

<%= @blogger.name %><br>
<%= @blogger.bio %><br>
<%= @blogger.age %><br>
<%= @blogger.posts.map(&:likes).sum %>


<%= button_to "Most Popular", post_path(@best_blogger), method: :get %>